.testimonials {
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.next-btn,
.back-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 15px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #313359;
}

.back-btn {
  right: auto;
  left: 0;
}

.slider {
  overflow-x: hidden;
}

.slider ul {
  display: flex;
  width: 200%;
  transition: 0.5s;
}

.slider ul li {
  list-style: none;
  padding: 20px;
}

.slide {
  width: 750px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 10px;
  background-color: #292a44;
  line-height: 1.4;
  height: 335px;
}

.userinfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.userinfo h3 {
  color: #d9d5d2;
}
